body {
  background-color: rgb(30, 30, 30);
  font-family: 'Libertinus Keyboard', sans-serif;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}
label {
  margin-bottom: 0.5rem;
  display: block;
}

input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border: 1px solid rgb(184, 184, 184);
  pad: 0.25rem;
  color: rgb(58, 58, 58);
}

button {
  display: block;
  font-family: 'Libertinus Keyboard', sans-serif;
  font-size: 1rem;
}
