body {
  background-color: rgb(30, 30, 30);
  font-family: 'Libertinus Keyboard', sans-serif;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}
label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(58, 58, 58);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus,
select:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(39, 3, 63);
  border-color: rgb(39, 3, 63);
}

button {
  display: block;
  font-family: 'Libertinus Keyboard', sans-serif;
  font-size: 1rem;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 1px solid rgb(32, 5, 63);
  padding: 1rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
